In [30]:
# import required packages/dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import re

**Load Data**

In [2]:
# Import the csv file 
ufo = pd.read_csv("Resources/complete.csv")
ufo.head()

C:\Users\61450\AppData\Local\Temp\ipykernel_20600\2261874967.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo = pd.read_csv("Resources/complete.csv")

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [3]:
ufo.shape

(88875, 11)

In [4]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88875 entries, 0 to 88874
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              88875 non-null  object
 1   city                  88679 non-null  object
 2   state                 81356 non-null  object
 3   country               76314 non-null  object
 4   shape                 85757 non-null  object
 5   duration (seconds)    88873 non-null  object
 6   duration (hours/min)  85772 non-null  object
 7   comments              88749 non-null  object
 8   date posted           88875 non-null  object
 9   latitude              88875 non-null  object
 10  longitude             88875 non-null  float64
dtypes: float64(1), object(10)
memory usage: 7.5+ MB

**Data Cleaning **

In [5]:
# check data types

# Replace '24:00' with '00:00' in the datetime column
ufo['datetime'] = ufo['datetime'].str.replace('24:00', '00:00')

# Convert the 'datetime' column to datetime type
ufo['datetime'] = pd.to_datetime(ufo['datetime'])

# Split the datetime column into separate date and time columns
ufo['date'] = ufo['datetime'].dt.date
ufo['time'] = ufo['datetime'].dt.time

# Print the modified dataframe
ufo.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,1949-10-10,20:30:00
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,1949-10-10,21:00:00
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,1955-10-10,17:00:00
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,1956-10-10,21:00:00
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,1960-10-10,20:00:00

In [6]:
# create "duration (minutes)" and "duration (hours)" columns
ufo['duration (minutes)'] = np.nan
ufo['duration (hours)'] = np.nan
for i in range(len(ufo['duration (seconds)'])):
    try:
        ufo['duration (minutes)'].iloc[i] = float(ufo['duration (seconds)'].iloc[i]) / 60
        ufo['duration (hours)'].iloc[i] = float(ufo['duration (seconds)'].iloc[i]) / 3600
    except:
        # Remove all characters except numbers and dots
        ufo['duration (seconds)'].iloc[i] = re.sub(r"[^0-9.]", "", ufo['duration (seconds)'].iloc[i])
        ufo['duration (minutes)'].iloc[i] = float(ufo['duration (seconds)'].iloc[i]) / 60
        ufo['duration (hours)'].iloc[i] = float(ufo['duration (seconds)'].iloc[i]) / 3600

C:\Users\61450\AppData\Local\Temp\ipykernel_20600\1632113840.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['duration (minutes)'].iloc[i] = float(ufo['duration (seconds)'].iloc[i]) / 60
C:\Users\61450\AppData\Local\Temp\ipykernel_20600\1632113840.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['duration (hours)'].iloc[i] = float(ufo['duration (seconds)'].iloc[i]) / 3600
C:\Users\61450\AppData\Local\Temp\ipykernel_20600\1632113840.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['duration (seconds)'].iloc[i] = re.sub(r"[^0-9.]", "", ufo['duration (seconds)'].iloc[i])
C:\Users\61450\AppData\Local\Temp\ipykernel_20600\1632113840.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['duration (minutes)'].iloc[i] = float(ufo['duration (seconds)'].iloc[i]) / 60
C:\Users\61450\AppData\Local\Temp\ipykernel_20600\1632113840.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['duration (hours)'].iloc[i] = float(ufo['duration (seconds)'].iloc[i]) / 3600

In [7]:
print(ufo['duration (minutes)'].isnull().sum())
print(ufo['duration (hours)'].isnull().sum())

2
2

In [8]:
# now we do not need to the "duration (hours/min)" column
ufo = ufo.drop(['duration (hours/min)'], axis=1)

In [9]:
# check date posted data type

# Replace '24:00' with '00:00' in the datetime column
ufo['date posted'] = ufo['date posted'].str.extract('([0-9]+/[0-9]+/[0-9]+)')


# Convert the 'datetime' column to datetime type
ufo['date posted'] = pd.to_datetime(ufo['date posted'])


# Print the modified dataframe
ufo.head()

,datetime,city,state,country,shape,duration (seconds),comments,date posted,latitude,longitude,date,time,duration (minutes),duration (hours)
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111,1949-10-10,20:30:00,45.000000,0.750000
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082,1949-10-10,21:00:00,120.000000,2.000000
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667,1955-10-10,17:00:00,0.333333,0.005556
3,1956-10-10 21:00:00,edna,tx,us,circle,20,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833,1956-10-10,21:00:00,0.333333,0.005556
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611,1960-10-10,20:00:00,15.000000,0.250000

In [10]:
# Convert type of date posted column to date
ufo['date posted'] = pd.to_datetime(ufo['date posted'], format='%d/%m/%Y')
ufo.head()

,datetime,city,state,country,shape,duration (seconds),comments,date posted,latitude,longitude,date,time,duration (minutes),duration (hours)
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,This event took place in early fall around 194...,2004-04-27,29.8830556,-97.941111,1949-10-10,20:30:00,45.000000,0.750000
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.38421,-98.581082,1949-10-10,21:00:00,120.000000,2.000000
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.2,-2.916667,1955-10-10,17:00:00,0.333333,0.005556
3,1956-10-10 21:00:00,edna,tx,us,circle,20,My older brother and twin sister were leaving ...,2004-01-17,28.9783333,-96.645833,1956-10-10,21:00:00,0.333333,0.005556
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.4180556,-157.803611,1960-10-10,20:00:00,15.000000,0.250000

In [11]:
ufo.dtypes

datetime              datetime64[ns]
city                          object
state                         object
country                       object
shape                         object
duration (seconds)            object
comments                      object
date posted           datetime64[ns]
latitude                      object
longitude                    float64
date                          object
time                          object
duration (minutes)           float64
duration (hours)             float64
dtype: object

In [12]:
ufo.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'comments', 'date posted', 'latitude', 'longitude', 'date', 'time',
       'duration (minutes)', 'duration (hours)'],
      dtype='object')

In [13]:
for i in range(len(ufo)):
    try:
        ufo['latitude'].iloc[i] = float(ufo['latitude'].iloc[i])
        ufo['longitude'].iloc[i] = float(ufo['longitude'].iloc[i])
    except:
        # Remove all characters except numbers and dots
        ufo['latitude'].iloc[i] = re.sub(r"[^0-9.]", "", str(ufo['latitude'].iloc[i]))
        ufo['longitude'].iloc[i] = re.sub(r"[^0-9.]", "", str(ufo['longitude'].iloc[i]))
        ufo['latitude'].iloc[i] = float(ufo['latitude'].iloc[i])
        ufo['longitude'].iloc[i] = float(ufo['longitude'].iloc[i])

C:\Users\61450\AppData\Local\Temp\ipykernel_20600\3679499848.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['latitude'].iloc[i] = float(ufo['latitude'].iloc[i])
C:\Users\61450\AppData\Local\Temp\ipykernel_20600\3679499848.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['longitude'].iloc[i] = float(ufo['longitude'].iloc[i])
C:\Users\61450\AppData\Local\Temp\ipykernel_20600\3679499848.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['latitude'].iloc[i] = re.sub(r"[^0-9.]", "", str(ufo['latitude'].iloc[i]))
C:\Users\61450\AppData\Local\Temp\ipykernel_20600\3679499848.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['longitude'].iloc[i] = re.sub(r"[^0-9.]", "", str(ufo['longitude'].iloc[i]))
C:\Users\61450\AppData\Local\Temp\ipykernel_20600\3679499848.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo['latitude'].iloc[i] = float(ufo['latitude'].iloc[i])

In [14]:
# check for duplicate rows
duplicates = ufo.duplicated()

# print the number of duplicate rows
print('Number of duplicate rows:', duplicates.sum())

# remove duplicate rows
ufo.drop_duplicates(inplace=True)
duplicates = ufo.duplicated()
ufo.index = np.arange(0, len(ufo))
print('Number of duplicate rows:', ufo.duplicated().sum())

Number of duplicate rows: 2
Number of duplicate rows: 0

In [15]:
#check for missing data
missing = pd.DataFrame({'null': ufo.isnull().sum()})
print(missing.head(ufo.shape[1]))

                     null
datetime                0
city                  196
state                7519
country             12561
shape                3118
duration (seconds)      2
comments              126
date posted           187
latitude                0
longitude               0
date                    0
time                    0
duration (minutes)      2
duration (hours)        2

In [16]:
ufo.shape

(88873, 14)

In [17]:
print(missing.loc['shape'] / ufo.shape[0]) # the ratio of the shape missing values to the shape of data values is 3.5% (small) so we can drop it without effecting to the data
non_missing_shape_index = ufo['shape'].dropna(inplace=False).index
ufo = ufo.iloc[non_missing_shape_index]

null    0.035084
Name: shape, dtype: float64

In [18]:
ufo.shape

(85755, 14)

In [19]:
print(ufo.isnull().sum())

datetime                  0
city                      0
state                  7150
country               11807
shape                     0
duration (seconds)        2
comments                  8
date posted               0
latitude                  0
longitude                 0
date                      0
time                      0
duration (minutes)        2
duration (hours)          2
dtype: int64

In [20]:
# rewrite data index
ufo.index = np.arange(0, len(ufo))

In [21]:
ufo['comments'].fillna('no comment', inplace=True)
ufo['comments'].isnull().sum()

0

In [22]:
ufo['state'].fillna('unknown', inplace=True)
ufo['state'].isnull().sum()

0

In [23]:
ufo['country'].fillna('unknown', inplace=True)
ufo['country'].isnull().sum()

0

In [24]:
ufo['duration (minutes)'].fillna('unknown', inplace=True)
ufo['duration (minutes)'].isnull().sum()

0

In [25]:
ufo['duration (seconds)'].fillna('unknown', inplace=True)
ufo['duration (seconds)'].isnull().sum()

0

In [26]:
ufo['duration (hours)'].fillna('unknown', inplace=True)
ufo['duration (hours)'].isnull().sum()

0

In [27]:
print(ufo.isnull().sum())

datetime              0
city                  0
state                 0
country               0
shape                 0
duration (seconds)    0
comments              0
date posted           0
latitude              0
longitude             0
date                  0
time                  0
duration (minutes)    0
duration (hours)      0
dtype: int64

In [42]:
ufo = ufo.rename(columns={'duration (seconds)': 'duration_seconds', 
                          'date posted': 'date_posted',
                          'duration (minutes)': 'duration_minutes',
                          'duration (hours)': 'duration_hours'})

In [46]:
ufo = ufo.drop(ufo[(ufo['duration_seconds'] == 'unknown') & (ufo['duration_minutes'] == 'unknown') & (ufo['duration_hours'] == 'unknown')].index)

In [47]:
ufo.dtypes

datetime            datetime64[ns]
city                        object
state                       object
country                     object
shape                       object
duration_seconds            object
comments                    object
date_posted         datetime64[ns]
latitude                    object
longitude                   object
date                        object
time                        object
duration_minutes            object
duration_hours              object
dtype: object

In [49]:
# Specify the file path and name
csv_file = 'Resources/ufo.csv'

# Export the DataFrame to CSV
ufo.to_csv(csv_file, index=False)